.account form {
	display: flex; flex-direction: column;
	justify-content: center; align-items: center;
	background: var(--lightBlue);
	width: fit-content;
	padding: 30px; margin: auto; margin-top: 15vw;
	border: 1px solid black; border-radius: 20px;
}

.account .my_input {
	display: flex; justify-content: center; align-items: center; flex-direction: column;
}

.account input, .account select, .account button { width: 300px; height: 30px; margin: 10px 0; }

.account .error_message { font-size: 12px; color: red; margin-bottom: 10px; }
