.dataTable {
	border-collapse: collapse;
	margin: 30px auto;
	max-width: 90%;
	font-size: 16px;
}

.dataTable tr, .dataTable th, .dataTable td {
	border: 1px solid red;
	padding: 10px;
	text-align: left;
}

.dataTable th > div {
	display: flex;
	justify-content: space-between;
}

.dataTable th > div > span {
	display: flex;
	margin-left: 20px;
}

.dataTable th > div > span > svg {
	cursor: pointer;
}

.dataTable th, .dataTable td {
	max-width: 200px; height: 50px;
	overflow-x: auto;
	padding: 5px;
}

.dataTable td span {
	padding: 5px;
	background: #5cb85c; color: white;
	display: inline-block; width: 100%; text-align: center;
	border: 1px solid black; border-radius: 5px;
}
.dataTable td span.sim {
	background: #5bc0de;
}
.dataTable td span.deny {
	background: #d9534f;
}

.dataTable tbody tr.deny:hover {
	background: #d9534f;
}
.dataTable tbody tr.accept:hover {
	background: #5cb85c;
}

.dataTable .type { min-width: 120px; }

/* .dataTable tbody tr.deny { background: #d9534f; } */
