.register {
	display: flex; justify-content: center; align-items: center; flex-direction: column;
	width: 100%; height: calc(100vh - var(--navbarHeight));
}

.register h1 {
	z-index: 1;
	margin-bottom: -20px;
	background: var(--blue);
	padding: 0 10px;
}

.register_form {
	display: flex; justify-content: center; align-items: center; flex-direction: column;
	border: 1px solid black; border-radius: 15px;
	padding: 30px; padding-top: 60px;
}

.register_form input, .register_form button {
	width: 300px; height: 40px;
	margin: 15px;
	text-align: center;
}

.register_form button {
	cursor: pointer;
	margin-top: 30px;
}

.register_form input:focus { outline: none; }
